<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include ("header.twig") %}
</head>

<body>
    <h1>Title 6</h1>

    <div class="title">Name</div>
    <div class="desc">hello Tom</div>

    hello Tom
    hello Jack
    hello Tom
    hello Tom
    hello Tom
    hello Tom
    hello Tom
    hello Tom
    hello Jack
    hello Tom
    hello Jack
    hello Tom
    hello Jack

    <div id="app-title"></div>

    <div id="app-content"></div>

    {% include ("footer.twig") %}

</body>

</html>